pkgbase = cotect-bin
	pkgdesc = A fast, read-first code inspector for the agent era
	pkgver = 0.3.0
	pkgrel = 1
	url = https://cotect.dev
	arch = x86_64
	license = Apache-2.0
	depends = webkit2gtk-4.1
	depends = gtk3
	provides = cotect
	conflicts = cotect
	options = !strip
	options = !debug
	source = https://github.com/cotect-dev/cotect/releases/download/v0.3.0/cotect-amd64.deb
	sha256sums = d1f4b408ace9a5f12d8714238c8522b9fe1a6255ed772ea37ba27d887fe24f9c

pkgname = cotect-bin
