pkgbase = cotect-bin
	pkgdesc = A fast, read-first code inspector for the agent era
	pkgver = 0.2.0
	pkgrel = 1
	url = https://cotect.dev
	arch = x86_64
	license = Apache-2.0
	depends = webkit2gtk-4.1
	depends = gtk3
	provides = cotect
	conflicts = cotect
	options = !strip
	options = !debug
	source = https://github.com/cotect-dev/cotect/releases/download/v0.2.0/Cotect_0.2.0_amd64.deb
	sha256sums = 7a282e65f770fd3d1b9a5175e065947881a23e00c7247ad21e921d18d495430f

pkgname = cotect-bin
