@import "tailwindcss";
@import "@xyflow/react/dist/style.css";
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts}';
@plugin "../heroui.plugin.ts";
@custom-variant dark (&:is(.dark *));

@theme {
  --color-deep-purple-50: #ebc1eb;
  --color-deep-purple-100: #d784d7;
  --color-deep-purple-200: #c346c3;
  --color-deep-purple-300: #8b2d8b;
  --color-deep-purple-400: #4d194d;
  --color-deep-purple-500: #3e143e;
  --color-deep-purple-600: #2e0f2e;
  --color-deep-purple-700: #1f0a1f;
  --color-deep-purple-800: #0f050f;
  --color-deep-purple: #4d194d;

  --color-space-indigo-50: #cdcce0;
  --color-space-indigo-100: #9a99c2;
  --color-space-indigo-200: #6866a3;
  --color-space-indigo-300: #464573;
  --color-space-indigo-400: #272640;
  --color-space-indigo-500: #1f1f33;
  --color-space-indigo-600: #171726;
  --color-space-indigo-700: #100f1a;
  --color-space-indigo-800: #08080d;
  --color-space-indigo: #272640;

  --color-stormy-teal-50: #adfeff;
  --color-stormy-teal-100: #5cfcff;
  --color-stormy-teal-200: #0afbff;
  --color-stormy-teal-300: #00b5b8;
  --color-stormy-teal-400: #006466;
  --color-stormy-teal-500: #005052;
  --color-stormy-teal-600: #003c3d;
  --color-stormy-teal-700: #002829;
  --color-stormy-teal-800: #001414;
  --color-stormy-teal-900: #000a0a;
  --color-stormy-teal: #006466;
}

.react-flow {
  --xy-background-color: #0f050f;
}
